// mixins
@mixin bp($point) {
  @if $point == sm {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == md {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == lg {
    @media (min-width: 1200px)  { @content; }
  }
}

@mixin bg-full($bg-image) {
	background-image: url($bg-image);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}

// @mixin animation-name($name...) {
//     -o-animation-name: $name;
//     -moz-animation-name: $name;
//     -webkit-animation-name: $name;
//     animation-name: $name;
// }
// @mixin animation-duration($duration...) {
//     -o-animation-duration: $duration;
//     -moz-animation-duration: $duration;
//     -webkit-animation-duration: $duration;
//     animation-duration: $duration;
// }
// @mixin animation-timing-function($timing...) {
//     -o-animation-timing-function: $timing;
//     -moz-animation-timing-function: $timing;
//     -webkit-animation-timing-function: $timing;
//     animation-timing-function: $timing;
// }
// @mixin animation-iteration-count($count...) {
//     -o-animation-iteration-count: $count;
//     -moz-animation-iteration-count: $count;
//     -webkit-animation-iteration-count: $count;
//     animation-iteration-count: $count;
// }
// @mixin animation-direction($direction...) {
//     -o-animation-direction: $direction;
//     -moz-animation-direction: $direction;
//     -webkit-animation-direction: $direction;
//     animation-direction: $direction;
// }
// @mixin animation-delay($delay...) {
//     -o-animation-delay: $delay;
//     -moz-animation-delay: $delay;
//     -webkit-animation-delay: $delay;
//     animation-delay: $delay;
// }        
// @mixin animation-fill-mode($fill...) {
//     -o-animation-fill-mode: $fill;
//     -moz-animation-fill-mode: $fill;
//     -webkit-animation-fill-mode: $fill;
//     animation-fill-mode: $fill;
// }
// @mixin animation-play-state($state...) {
//     -o-animation-play-state: $state;
//     -moz-animation-play-state: $state;
//     -webkit-animation-play-state: $state;
//     animation-play-state: $state;
// }
// @mixin animation($animation...) {
//     -o-animation: $animation;
//     -moz-animation: $animation;
//     -webkit-animation: $animation;
//     animation: $animation;
// }

@mixin animation($str) {
  animation: #{$str};
}

// placeholders

%clearfix:before,
%clearfix:after {
    content: " "; 
    display: table;
}

%clearfix:after {
    clear: both;
}
%centerer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

%parent-centerer {
	transform-style: preserve-3d;
}

%absolute {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

%padding-top-bottom {
	padding-top: 30px;
	padding-bottom: 60px;
}