@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@import "plugins";

@mixin bg-full($bg-image) {
	background-image: url($bg-image);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

%centerer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

%parent-centerer {
	transform-style: preserve-3d;
}

%absolute {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

%padding-top-bottom {
	padding-top: 30px;
	padding-bottom: 60px;
}

$verde: #006f49;
$giallo: #ffd457;

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #666;
	overflow-x: hidden;
}

img,
iframe {
	max-width: 100%;
}

a {
	color: $verde;

	&:hover {
		color: $verde;
	}
}

h2 {
	color: $verde;
	font-size: 27px;
	font-weight: 700;
}
//Bootstrap override
.btn {
	transition: background 0.3s;
}

.btn-success {
	background-color: $verde;
	border: 0;

	&:hover,
	&:active,
	&:focus {
		background-color: darken($verde, 10%);
	}
}

.btn-warning {
	background-color: $giallo;
	border: 0;

	&:hover,
	&:active,
	&:focus {
		background-color: darken($giallo, 10%);
	}
}

//Mobile Nav
.navigation {
	list-style: none;
	background: #111;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	padding: 0;

	li {
		width: 200px;
		border-top: 1px solid #111;
		border-bottom: 1px solid #000;

		a {
			display: block;
			padding: 15px;
			color: white;
			font-size: 1.2em;
			text-decoration: none;
		}
	}
}

.nav-trigger {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 2;
	width: 30px;
	height: 30px;
	cursor: pointer;

	.icon-bar {
		display: block;
		width: 30px;
		height: 6px;
		border-radius: 1px;
		background: #fff;
		margin-bottom: 6px;
	}
}

.nav-trigger:checked + label {
	left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
	left: 200px;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.nav-trigger + label, .site-wrap {
	transition: left 0.2s;
}

.site-wrap {
	min-width: 100%;
	min-height: 100%;
	background-color: #fff;
	position: relative;
	top: 0;
	bottom: 100%;
	left: 0;
	z-index: 1;
}

// HEADER
.logo {
	background: url(/Commons/img/logo.png) 0 0 no-repeat;
	height: 45px;
	width: 215px;

	&.visible-xs {
		position: absolute;
		left: 50%;
		top: 15px;
		margin-left: -112px;
		z-index: 99;
		background-image: url(/Commons/img/logo-home.png);
	}
}
//Nav
.navbar {
	background: #fff;
	border: 0;
	//height: 80px;
	padding-top: 30px;
	/*.navbar-toggle .icon-bar {
		background: #333;
	}*/
}

.header-img {
	height: 250px;
	@include bg-full('/Commons/img/bg-chisiamo.jpg');
	position: relative;

	&:after {
		@include bg-full('/Commons/img/slide-shadow.png');
		@extend %absolute;
		display: block;
		content: '';
	}
}

// CONTENT
.body-content {
	text-align: center;
	@extend %padding-top-bottom;

	h1 {
		font-size: 45px;
		font-family: "adobe-garamond-pro",sans-serif;
		color: #333;
		position: relative;
		padding-bottom: 30px;
		margin-bottom: 30px;

		&:before {
			content: '';
			height: 1px;
			width: 70px;
			background: #999;
			position: absolute;
			display: block;
			bottom: 0;
			left: 50%;
			margin-left: -35px;
		}
	}
}

// FORMS

.form-group {
	.form-control {
		border: 1px solid #cad4d6;
		border-radius: 0;
	}

	label {
		font-size: 16px;
		font-weight: 300;
	}



	
}

// FOOTER
footer {
	background: $verde;
	padding: 30px 0;
	color: darken($verde, 10%);
	text-align: center;
	font-size: 13px;
}


// HOME

.home {
	padding: 0;

	.logo {
		background-image: url(/Commons/img/logo-home.png);
	}

	.navbar {
		background: transparent;

		.navbar-nav {
			li {
				a {
					color: #fff;

					&:after {
						background: #fff;
					}
				}
			}
		}
	}

	.slide {
		@include bg-full('/Commons/img/slide-1.jpg');

		&:after {
			@include bg-full('/Commons/img/slide-shadow.png');
			@extend %absolute;
			display: block;
			content: '';
		}

		.slide-content {
			position: absolute;
			top: 50%;
			left: 50%;
			text-align: center;
			z-index: 10;
			color: #fff;
			transform: translate(-50%, -40%);
			opacity: 0;
			transition: all 0.4s;

			h2 {
				font-size: 35px;
				color: #fff;

				@media (min-width: 768px) {
					font-size: 60px;
				}
			}

			.slide-desc {
				overflow: hidden;
			}

			p {
				font-size: 22px;
				transform: translateY(-130%);
				transition: all 0.3s linear 1s;
				position: relative;
				padding: 30px;

				&:before {
					height: 2px;
					background: #fff;
					position: absolute;
					left: 50%;
					top: 0;
					width: 50px;
					margin-left: -25px;
					content: '';
					display: block;
				}
			}

			.btn {
				font-size: 17px;
				text-transform: uppercase;
				color: #000;
				font-weight: 300;
				transform: translateY(130%);
				transition: transform 0.3s linear 1.3s, background 0.3s;
			}
		}

		&.active .slide-content.show {
			transform: translate(-50%, -50%);
			opacity: 1;

			p,
			.btn {
				transform: translateY(0%);
			}
		}
	}
}

// Chi siamo

.chisiamo {
	.body-content {
		h1 {
			font-size: 33px;
		}
	}
}

// Info Mutui

.infomutuo {
	.header-img {
		background-image: url('/Commons/img/bg-mutuo.jpg');
	}

	.grey {
		background: #efefef;
		padding: 0;
		overflow: hidden;
		max-height: 0;
		transition: all 0.6s cubic-bezier(0, 1, 0.5, 1);

		h3 {
			font-family: "adobe-garamond-pro",sans-serif;
			font-size: 28px;
			margin-bottom: 30px;
		}

		&.toggled {
			max-height: 750px;
			@extend %padding-top-bottom;
		}
	}
}

// Banche

.banche,
.assicurazioni {
	.header-img {
		background-image: url('/Commons/img/bg-banca.jpg');
	}

	.image-wrap {
		@extend %parent-centerer;
		height: 100px;

		img {
			@extend %centerer;
			max-width: 90%;
		}
	}
}

// Contattaci

.contattaci {
	.header-img {
		background-image: url('/Commons/img/bg-contattaci.jpg');
	}
}


// Lavora con noi

.lavoraconnoi {
	p > strong {
		color: $verde;
	}
}


@media (min-width: 768px) {
	body {
		padding-top: 80px;
	}

	.site-wrap.site-wrap.site-wrap {
		left: 0;
		box-shadow: 0;
	}

	.navigation,
	label[for="nav-trigger"] {
		display: none;
	}

	.navbar-nav {
		li {
			a {
				font-size: 16px;
				color: #333;
				position: relative;

				&:after {
					content: '';
					height: 2px;
					width: 70%;
					background: $verde;
					position: absolute;
					display: block;
					bottom: 15px;
					left: 50%;
					margin-left: -35%;
					transform: scale(0);
					transition: all 250ms linear;
					opacity: 0;
				}

				&:hover {
					background-color: transparent;

					&:after {
						transform: scale(1);
						bottom: 10px;
						opacity: 1;
					}
				}
			}

			&.active {
				a:after {
					transform: scale(1);
					bottom: 10px;
					opacity: 1;
				}
			}
		}
	}

	.header-img {
		height: 350px;
	}
}

@media (max-width: 996px) {
	.navbar-nav {
		li {
			a {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
}
